
@model AdventureWorksPortable.Models.SearchResult

@{
    ViewBag.Title = "Search";
}

<h2>Product search</h2>

@if (@ViewBag.errorMessage != null) {
    @ViewBag.errorMessage
} else {
    <div class="container">
        <form action="/Home/Search" method="get">
            <input type="search" name="q" id="q" value="@ViewBag.searchString" autocomplete="off" size="100" /> <button type="submit">Search</button>
            <input type="hidden" name="color" id="color" value="@ViewBag.color" />
            <input type="hidden" name="category" id="category" value="@ViewBag.category" />
            <input type="hidden" name="priceFrom" id="priceFrom" value="@ViewBag.priceFrom" />
            <input type="hidden" name="priceTo" id="priceTo" value="@ViewBag.priceTo" />
            <input type="hidden" name="sort" id="sort" value="@ViewBag.sort" />
        </form>
    </div>

    if (@Model != null)
    {
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    Colors:
                    <ul>
                        @foreach (var colorFacet in Model.Facets.Colors)
                        {
                            <li><a href="#" onclick="document.getElementById('color').value='@colorFacet.Value'; document.forms[0].submit(); return false;">@colorFacet.Value</a> (@colorFacet.Count)</li>
                        }
                    </ul>
                    Categories:
                    <ul>
                        @foreach (var categoryFacet in Model.Facets.Categories)
                        {
                            <li><a href="#" onclick="document.getElementById('category').value='@categoryFacet.Value'; document.forms[0].submit(); return false;">@categoryFacet.Value</a> (@categoryFacet.Count)</li>
                        }
                    </ul>
                    Prices:
                    <ul>
                        @foreach (var priceFacet in Model.Facets.ListPrices)
                        {
                            if (priceFacet.Count > 0)
                            {
                                <li><a href="#" onclick="document.getElementById('priceFrom').value=@(priceFacet.From ?? 0); document.getElementById('priceTo').value=@(priceFacet.To ?? 0); document.forms[0].submit(); return false;">@(priceFacet.From ?? 0) - @(priceFacet.To == null ? "more" : priceFacet.To.ToString())</a> (@priceFacet.Count)</li>
                            }
                        }
                    </ul>
                </div>
                <div class="col-md-8">
                    <p>
                        Sort -
                        <a href="#" onclick="document.getElementById('sort').value=null; document.forms[0].submit(); return false;">by relevance</a>
                        <a href="#" onclick="document.getElementById('sort').value='listPrice'; document.forms[0].submit(); return false;">by list price</a>
                        <a href="#" onclick="document.getElementById('sort').value='color'; document.forms[0].submit(); return false;">by color</a>
                    </p>
                    <p>Found @Model.Count products in the catalog</p>

                    <ul>
                        @foreach (var product in Model.Products)
                        {
                            <li>
                                <h3><b>@product.Name</b></h3>
                                price: @product.ListPrice, color: @product.Color, weight: @product.Weight, size: @product.Size
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    }
}

@section Scripts {
    <script>
        $(function () {
            $("#q").autocomplete({ source: "/home/suggest" });
        });
    </script>
}